@media only screen and (max-width: 1120px) {

	.row {
		/*padding: 0 1%;*/
	}




}

@media only screen and (max-width: 940px) {




}


@media only screen and (max-width: 768px) {




}


@media only screen and (max-width: 480px) {




}

