@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/



/*@font-face {
  font-family: "Arial Black";
  src: url("fonts/Arial-Black.eot?#iefix") format("embedded-opentype"),
          url("fonts/Arial-Black.woff") format("woff"),
          url("fonts/Arial-Black.ttf")  format("truetype"),
          url("fonts/Arial-Black.svg#Arial-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}*/


@font-face {
  font-family: "Arial Black";
  src: url("fonts/Arial-Black.eot?#iefix") format("embedded-opentype"),
          url("fonts/Arial-Black.svg#Arial-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*-- Icon Fonts --*/

@font-face {
	font-family: "Glyphicons Halflings";
	src: url("fonts/glyphicons-halflings-regular.eot");
	src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
		 url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), 
		 url("fonts/glyphicons-halflings-regular.woff") format("woff"), 
		 url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
		 url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-menu-down:before {
    color: #0e0e0e;
    content: "\e259";
}

.glyphicon-menu-up:before {
    color: #0e0e0e;
    content: "\e260";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-triangle-bottom:before {
  content: "\e252";
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

html,
body {
    min-width: 100%;
    background-color: #ffffff;
}

body {
    height: 100%;
    background: rgba(182, 23, 46, 1);
}


.wrapper {
    display: table; 
    height: 100%;
    min-width: 100%;
}

.content {
    position: relative;
    display: table-row;
    height: 100%;
    min-width: 100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

h1 {
    color: #f24841;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
}

h2 {
    color: #202020;
    font-family: "OpenSans-Light", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    /*max-width: 320px;*/
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

*:focus {
    outline: none;
}

select::-ms-expand {
  display: none;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-bg {
    z-index: 999;
    background: rgba(182, 23, 46, 1);
    padding: 1% 0;
    font-size: 0;
    line-height: 0;
    border-bottom: 3px solid #ffed00;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.head-right-col {
    display: inline-block;
    vertical-align: middle;
    width: 26%;
    text-align: left;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/*.glyphicon-menu-hamburger {
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
}*/

.respmenubtn span {
    display: block;
    width: 20px;
    height: 2px;
    border: 1px solid #ffffff;
    margin: 0 0 5px 0;

    -webkit-transition-property: border;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:hover span {
    border: 1px solid #ffed00;
}

.respmenubtn-active span {
    width: 30px;
}

.respmenubtn-active span:last-child {
    display: none;
}

.respmenubtn-active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
}

.respmenubtn-active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}



.logo-head {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    text-align: center;
}

/*.logo-head img {
    width: 130px;
    height: 40px;
}*/

.head-left-col {
    display: inline-block;
    vertical-align: middle;
    width: 26%;
    text-align: right;
}

/*.search-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0 3%;
}

.basket-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0 0 0 3%;
}*/

.search-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    /*color: #ffffff;*/
    /*font-size: 30px;*/
    /*line-height: 30px;*/
    /*font-weight: lighter;*/
    margin: 0 10%;
    width: 23px;
    height: 23px;
    background-image: url(img/icon_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -3px;
}

.basket-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    /*color: #ffffff;*/
    /*font-size: 30px;*/
    /*line-height: 30px;*/
    /*font-weight: lighter;*/
    margin: 0 0 0 3%;
    width: 26px;
    height: 23px;
    background-image: url(img/icon_sprite.png);
    background-repeat: no-repeat;
    background-position: -1px -65px;
}


/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.screenone {
    padding: 10% 0 0 0;
}

.tel-btn {
    display: block;
    background: rgba(255, 237, 0, 1);
    text-align: center;
    width: 100%;
    padding: 2%;
    font-size: 0;
    line-height: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.tel-btn:link,
.tel-btn:visited {
    background: rgba(255, 237, 0, 1);
}

.tel-btn:hover,
.tel-btn:active {
    background-color: rgba(255, 232, 123, 1); 
}


.mobtel-ico-box {
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    padding: 0 3% 0 0;
}

.mobtel-ico {
    display: block;
    width: 17px;
    height: 35px;    
    background-image: url(img/mob_icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tel-num {
    display: inline-block;
    vertical-align: middle;
    width: 88%;
    color: #424242;
    font-family: Arial, sans-serif;
    font-size: 32px;
    line-height: 34px;
    font-weight: 700;
}


/*-- Search Form --*/

.search-form {
    font-size: 0;
    line-height: 0;
    padding: 13px 0;
}

.querysrch {
    display: inline-block;
    vertical-align: top;
    width: 58%;
    border: none;
    background: rgba(255, 255, 255, 1);
    font-family: Arial, sans-serif;
    color: #424242;
    font-size: 24px;
    line-height: 30px;
    padding: 2% 1%;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.srchbtn {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    border: none;
    background: rgba(255, 237, 0, 1);
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #424242;
    font-size: 24px;
    line-height: 25px;
    text-transform: lowercase;
    padding: 3% 1%;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;

    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.srchbtn:link,
.srchbtn:visited {
    background: rgba(255, 237, 0, 1);
}

.srchbtn:hover,
.srchbtn:active {
    background-color: rgba(255, 232, 123, 1); 
}


/*-- Slider --*/

.carousel {
    width: 88%;
    margin: 2% auto;
}

.carousel-inner {
    overflow: hidden;
    height: 200px;
}

.carousel-inner .item img {
    display: block;
    width: 100%;
    height: auto;
}




/*-- Categories --*/

.headsecond {
    background: rgba(255, 237, 0, 1);
    color: #424242;
    font-family: "Arial", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1% 2%;
}

.cat-itembg {
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #a2a2a2;
}

.cat-itembg:first-child {
    border-top: 1px solid transparent;
}

.catname {
    font-size: 0;
    line-height: 0;
}

.catname h3 {
    display: inline-block;
    vertical-align: middle;
    /*width: 90%;*/
    color: #424242;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    /*padding: 2.5% 0 2.5% 9%;*/
    padding: 2.5% 0 2.5% 0;
}


.arrowcat {
    /*display: inline-block;
    vertical-align: middle;
    width: 10%;*/
    float: right;
    cursor: pointer;
    color: #424242;
    font-size: 18px;
    line-height: 30px;
}

.catheight {
    overflow: hidden;
    height: auto;
}

.catlistheight {
    display: block;
    overflow: hidden;
    height: auto;
}

.catlist {
    height: auto;
    padding: 0 0 0 9%;
}

.good {
    padding: 2% 0;
}

.good a {
    color: #424242;
    font-size: 18px;
    line-height: 22px;
    
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.good a:link,
.good a:visited {
    color: #424242;
}

.good a:hover,
.good a:active {
    color: #3833ff; 
}

/*-- News Letter Section --*/

.newsletterbg {
    background: rgba(66, 66, 66, 1);
    padding: 20px 0;
}

.letterformhead {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 5px 0;
}

.newsletter-inpt {
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 1);
    font-family: Arial, sans-serif;
    color: #424242;
    font-size: 24px;
    line-height: 30px;
    margin: 8px 0;
    padding: 2% 1%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.newsletter-btn {
    width: 100%;
    border: none;
    background: rgba(255, 237, 0, 1);
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #424242;
    font-size: 24px;
    line-height: 30px;
    margin: 8px 0;
    padding: 2% 1%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.newsletter-btn:link,
.newsletter-btn:visited {
    background: rgba(255, 237, 0, 1);
}

.newsletter-btn:hover,
.newsletter-btn:active {
    background-color: rgba(255, 232, 123, 1); 
}


.sociallinks-list {
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding: 13px 0;
}

.sociallinks-list li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    text-align: center;
}

.soc-link {
    display: block;
    width: 31px;
    height: 30px;
    background-image: url(img/soclink_sprite.png);
    background-repeat: no-repeat;
}

.facebook {
    background-position: -5px 0;
}

.twitter {
    background-position: -45px 0;
}

.google {
    background-position: -85px 0;
}

.instagram {
    background-position: -125px 0;
}

.youtube {
    background-position: -165px 0;
}

.tomainsite {
    display: block;
    width: 90%;
    margin: 12px auto;
    padding: 2% 1%;
    border: none;
    background: rgba(66, 66, 66, 1);
    border: 1px solid #8e8e8e;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.tomainsite:link,
.tomainsite:visited {
    color: #ffffff;
    background: rgba(66, 66, 66, 1);
}

.tomainsite:hover,
.tomainsite:active {
    color: #3833ff;
    background-color: rgba(255, 232, 255, 1); 
}



/*-- MENU --*/

.menu-nav-box {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, .7);
}

.menu {
    background-color: rgba(182, 23, 46, 1);    
    height: 100vh;
    width: 90%;
    padding: 20px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.signin-block {
    text-align: center;
    padding: 20px 0;
}

.user-icon {
    padding: 0 10px 0 0;
}

.sinlink {
    width: auto;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.sinlink:link,
.sinlink:visited {
    color: #ffffff;
}

.sinlink:hover,
.sinlink:active {
    color: #ffed00; 
}

.sinlink .glyphicon-user {
    /*padding: 0 10% 0 0;*/
}



.categorybox ul {
    padding: 0 0 0 5%;
}

.catlist li {
    /*border-bottom: 1px solid #bbbbbb;*/
}


/*-- Menu Footer --*/


.menu-footer {
    background: rgba(66, 66, 66, 1);
    padding: 20px 0;
}

.menu-footer .tel-btn {
    width: 90%;
    margin: 0 auto;
}

.menufooterh {
    padding: 15px 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
}


/*-- / MENU --*/


/*-- Заголовок категории --*/

.category-header {
    font-size: 0;
    line-height: 0;
    padding: 4% 0;
}

.category-header .right-col {
    display: inline-block;
    vertical-align: top;
    width: 26%;
}

.chevron-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
}

.category-header .categoryhead-box {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: center;
}

.categoryhead {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
}

.category-header .left-col {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    text-align: right;
}

.list-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    margin: 0 7%;
    
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.cart-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 0 7%;
    
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}


.cart-btn:link,
.cart-btn:visited,
.list-btn:link,
.list-btn:visited {
    color: #ffffff;
}

.cart-btn:hover,
.cart-btn:active,
.list-btn:hover,
.list-btn:active {
    color: #ffed00; 
}

/*-- Goods Cart --*/

.goods-sect {
    background: rgba(255, 255, 255, 1);
}

.goodcart-box {
    border-bottom: 1px solid #bbbbbb;
    font-size: 0;
    line-height: 0;
    padding: 5% 0;
}

.good-cart-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 4% 0 0;
}

.good-cart-img img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.goodcart-dec {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.goodcart-dec h3 {
    color: #111a25;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    padding: 0 0 6px 0;
}

.ansvers {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.ansvers p {
    color: #4eb225;
    font-size: 11px;
    line-height: 15px;
}

.ansversok {
    color: #4eb225;
    font-size: 11px;
    line-height: 15px;
    padding: 0 1% 0 0;
}

.rating-box {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    text-align: right;
}

.rating-stars-list {

}

.rating-stars-list li {
    display: inline-block;
    vertical-align: top;
    padding: 0 1%;
}

.rating-star {
    color: #111a25;
    font-size: 11px;
    line-height: 16px;
}


.procode-box {
    padding: 5px 0;
}

.procode-box h2 {
    color: #6c6c6e;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
}

.price {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    background: rgba(255, 250, 47, 1);
    color: #282a36;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 4% 6%;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
    border-radius: 10px 0 10px 0;
}


.count-inpt-box {
    display: inline-block; 
    vertical-align: middle; 
    width: 50%;
    font-size: 14px; 
    line-height: 26px;
    text-align: right;
}

.count-inpt {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    border: 1px solid #dfdfdf;
}

.icon-count {
    display: inline-block;
    vertical-align: middle;
}

.icon-plus,
.icon-minus {
    cursor: pointer;
    color: #a9a9a9;
}

.icon-plus:link,
.icon-plus:visited,
.icon-minus:link,
.icon-minus:visited {
    color: #a9a9a9;
}

.icon-plus:hover,
.icon-minus:hover {
    color: #000000;
}

.icon-plus:active,
.icon-minus:active {
    color: #81b3d2;
}

.addgood-btn {
    width: 100%;
    margin: 20px 0 10px 0;
    padding: 2% 1%;
    color: #ffffff;
    background-color: rgba(182, 23, 46, 1);
    font-size: 14px; 
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: none;
    
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.addgood-btn:link,
.addgood-btn:visited {
    background-color: rgba(182, 23, 46, 1);
}

.addgood-btn:hover,
.addgood-btn:active {
    background-color: rgba(221, 32, 59, 1);
}

.goodsform {
    font-size: 0;
    line-height: 0;
}

.goodsform .newsletter-inpt,
.goodsform .querysrch {
    color: #424242;
    font-size: 18px; 
    line-height: 25px;
    padding: 3% 1%;
}

.goodsform .newsletter-inpt {
    margin: 15px 0;
}

.goodsh3 {
    text-align: center;       
}

.goodsh3 h3 {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
} 

.pagination-box {
    text-align: center;
    padding: 25px 0;
}

.pagination-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    text-align: right;
}

.pagination-list li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
}

.pagination-list li a {
    display: block;
    padding: 2px 5px 0 5px;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    
    -webkit-transition-property: background-color color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/*.pagination-list li .page-link:link,
.pagination-list li .page-link:visited {
    background-color: transparent;
    color: #000000;
}*/

.pagination-list li .page-link:hover,
.pagination-list li .page-link:active {
    background-color: rgba(221, 32, 59, 1);
    text-decoration: none;
    color: #ffffff;
}

.pagination-list li .active-page {
    background-color: rgba(182, 23, 46, 1);
    color: #ffffff;
}

.dots-item {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.pagination-box .dots {
    display: inline-block;
    vertical-align: middle;
}

.next-page-btn {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    margin: 0 0 0 2%;
    cursor: pointer;
    color: #b6172e;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #b6172e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}


/* ----- Страница товара ------ */

.good-pg {
    background: rgba(255, 255, 255, 1);
    padding: 15px 0;
}

.tovarpghead {
    color: #111a25;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 0 6px 0;
}

.good-pg .carousel {
    width: 100%;
}

.good-pg .carousel-inner {
    overflow: hidden;
    height: 205px;
}

.good-pg .carousel-inner {
    margin: 10px 0 0 0;
}


.good-pg .slider-relgoods .carousel-relgoods {
    display: block;
    width: 85% !important;
    position: relative;
}

/*.good-pg #carousel-generic3 .carousel-inner {
    height: 250px !important;
}*/

.carousel-relgoods .carousel-inner {
    height: 250px !important;
}

.good-pg .carousel-control {
    position: relative !important;
}



.good-pg .rating {
    font-size: 0;
    line-height: 0;
}

.good-pg .rating .rating-stars-list {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

.good-pg .rating .ansvers {
    text-align: right;
}

.good-pg .pricecount-box {
    font-size: 0;
    line-height: 0;
    padding: 20px 0;
}

.soclinktovarpg-list {
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding: 0 0 20px 0;
}

.soclinktovarpg-list li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 3%;
}

.soclink-tovpg {
    display: block;
    width: 20px;
    height: 23px;
    cursor: pointer;
    background-image: url(img/soclink_sprt_tovar.png);
}

.soclinktovarpg-list .facebook {
    background-position: 0px 0;
}

.soclinktovarpg-list .twitter {
    background-position: -34px 0;
}

.soclinktovarpg-list .google {
    background-position: -69px 0;
}

.soclinktovarpg-list .p {
    background-position: -105px 0;
}

.soclinktovarpg-list .mail {
    background-position: -145px 0;
}

.soclinktovarpg-list .chain {
    background-position: -182px 0;
}


.desc-box {
    font-size: 0;
    line-height: 0;
    padding: 5px 0;
}

.desc-box h3 {
    float: left;
    color: #1e1e1e;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.desc-box button,
.testimonials-box button {
    border: none;
    background: none;
    float: right;
}

.desc-box button:link,
.desc-box button:visited,
.testimonials-box button:link,
.testimonials-box button:visited  {
    border: none;
    background: none;
}

.desc-box button:hover,
.desc-box button:active,
.testimonials-box button:link,
.testimonials-box button:visited  {
    border: none;
    background: none;
}

.arrow-down {
    color: #1e1e1e;
    font-size: 13px;
    line-height: 13px;
}


.testimonials-box {
    font-size: 0;
    line-height: 0;
    padding: 5px 0;
}

.testimonials-box h3 {
    float: left;
    color: #1e1e1e;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.descriptions-hover {
    overflow: hidden;
    height: 0;
}

.descriptions {
    height: auto;
}

.descriptions p {
    color: #1e1e1e;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 19px;
}

.testimonials-hover {
    overflow: hidden;
    height: 0;
}

.testimonials p {
    color: #1e1e1e;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 19px;
}





.action-sect {
    background: rgba(255, 255, 255, 1);
    padding: 10px 0;
}

.actionh-box {
    background: rgba(254, 220, 0, 1);
}

.actionh {
    background: rgba(254, 220, 0, 1);
    font-family: Arial, sans-serif;
    color: #010101;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 1.5% 0;
}

.action-thumbs {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.action-thumb {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.action-thumb .price {
    width: 70%;
}

.thumb-img-box {
    overflow: hidden;
    height: 90px;
}

.thumb-img-box img {
    max-width: auto;
    height: auto;
}

.action-thumbs-plus {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    color: #ff0000;
    font-size: 12px;
    line-height: 18px;
    padding: 35px 0 0 0;
}

.action-thumb h3 {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    padding: 4% 0;
}

.action-content {
    font-size: 0;
    line-height: 0;
    padding: 10px 0;
}

.action-col-left {
    display: inline-block;
    vertical-align: baseline;
    width: 60%;
}

.action-col-left p {
    font-family: Arial, sans-serif;
    color: #b80f0e;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.action-col-right {
    display: inline-block;
    vertical-align: baseline;
    width: 40%;
}

.action-col-right p {
    font-family: Arial, sans-serif;
    color: #79777f;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.action-btn {
    display: block;
    margin: 10px auto;
    width: 50%;
    border: none;
    background: rgba(182, 23, 46, 1);
    padding: 2.5% 3% 2% 3%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.action-btn:link,
.action-btn:visited {
    background: rgba(182, 23, 46, 1);
}

.action-btn:hover,
.action-btn:active {
    background-color: rgba(221, 32, 59, 1);
}

.relgoods-box {
    background: rgba(255, 255, 255, 1);
    padding: 10px 0;
}

.relgoods {
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.relgoodsh {
    display: inline-block;
    vertical-align: middle;
    width: 62%;
    color: #b6172e;
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 21px;
    margin: 0 1%;
    padding: 2%;
    border: 1px solid #b6172e;
}

.relgoods:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18%;
    border-top: 1px solid #bbbbbb;
}

.relgoods:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18%;
    border-top: 1px solid #bbbbbb;
}

.swiper-slide .goodcart-box {
    text-align: left;
    border-bottom: 1px solid transparent;
    padding: 0;
}

.swiper-slide .item .good-cart-img {
    width: 45%;
}

.swiper-slide .item .goodcart-dec {
    width: 55%;
}

.swiper-slide .item .price{
    font-size: 12px;
}



.swipper-slider-main,
.slider-sw,
.swiper-container {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.swipper-slider-main-box {
    position: relative;
    margin: 18px 0 10px 0;
}

.swipper-slider-main-box .swiper-slide {
    margin: 0 auto;
}

.swipper-slider-main-box .swiper-pagination {
    width: 100%;
    text-align: center;
    top: -25px;
}

.swipper-slider-main-box .swiper-pagination-bullet-active {
    background: rgb(255, 255, 255);
}

.swipper-slider-main-box .swiper-pagination-bullet {
    background: rgb(255, 255, 255);
    margin: 0 1%;
}






.swiper-container-3 {
    height: 130px;
}

.swiper-slide {
    width: 310px;
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-container .swiper-slide{
    padding: 5px 0 0 0;
}

.slider-sw .item {
    width: 100%;
    margin: 0 auto;
}

.swiper-container .swiper-slide .item {
    width: 80%;
    margin: 0 auto;
}

.slider-sw .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}









.cash-good-box {
    background: rgba(255, 255, 255, 1);
}

.cash-good {
    border-bottom: 1px solid #bbbbbb;    
    font-size: 0;
    line-height: 0;
    padding: 15px 0;
}

.cash-good-img-box {
    display: inline-block;
    vertical-align: middle;
    width: 37%;
}

.cash-good-img-box img {
    width: 97%;
    height: auto;
    margin: 0 auto;
}

.cash-good-middle-col {
    display: inline-block;
    vertical-align: top;
    width: 43%;
}

.cashgoodh {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: 700;
    text-align: left;
    padding: 0 0 20px 0;
}

.cash-good-box .price {
    font-size: 12px;
}

.cash-good-box .count-inpt-box {
    font-size: 13px;
}

.cash-good-right-col {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.cash-good-right-col button {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    background-image: url(img/remove_btn_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.totalprice-box {
    text-align: right;
}

.tl-price {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 0;
}

.ups-box {
    background: rgba(255, 255, 255, 1);
    padding: 10px 0;
}

.ups {
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.upsh {
    display: inline-block;
    vertical-align: middle;
    width: 62%;
    color: #b6172e;
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 21px;
    margin: 0 1% 2% 1%;
    padding: 2%;
    border: 1px solid #b6172e;
    text-transform: uppercase;
}

.ups:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18%;
    border-top: 1px solid #bbbbbb;
}

.ups:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18%;
    border-top: 1px solid #bbbbbb;
}

.price-box {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
}

.price-box .price {
    width: 90%;
}

.proposition-box {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
}

.proposition {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    background: rgba(182, 23, 46, 1);
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 9px;
    line-height: 14px;
    padding: 7% 7% 5% 7%;
}

.shopping-steps {
    background: rgba(255, 255, 255, 1);
    /*padding: 0 0 0 15%;*/
}

.shopping-steps li {
    width: 90%;
    padding: 3px 0;
    color: #5f5c5c;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
    list-style: decimal;
    position: relative;
    left: 10%;
}

.shopping-steps li:before {
    display: block;
    content: "";
    width: 115%;
    height: 1px;
    border-top: 1px solid #bbbbbb;
    position: absolute;
    top: 0;
    left: -15%;
}



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

/*.ui-loader {
    display: none;
    opacity: 0.0001;
}*/